
        /* Basic styles for the body and layout */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
        }

        .dashboard {
            display: flex;
            width: 100%;
        }


        .sidebar {
            width: 250px;
            background-color: #8d493a;
            color: white;
            transition: width 0.3s;
            overflow: hidden;
        }

        .sidebar .profile {
            text-align: center;
            padding: 20px;
        }

        .profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .menu {
            padding: 10px 0;
        }

        .menu ul {
            list-style-type: none;
            padding: 0;
        }

        .menu li {
            padding: 15px 20px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .menu li:hover {
            background-color: #dfd3c3;
            color: black;
        }

        .menu-icon {
            position: absolute;
            top: 20px;
            left: 10px;
            background: #d0b8a8;
            border: none;
            color: white;
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            z-index: 10;
        }

        .menu-icon:hover {
            background: #8d493a;
        }


        .main-content {
            flex-grow: 1;
            padding: 20px;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Hide by default */
    position: absolute;
    background-color: #d0b8a8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8d493a;
}

        .semester-selection {
            margin-bottom: 20px;
        }

        .semester-selection label {
            margin-right: 10px;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        input {
            width: 100%;
            text-align: right;
        }

        tfoot td {
            font-weight: bold;
        }